:root {
    background-color: #3e4ad3;
}

.root {
    // background-color: #36393f;
    // background: linear-gradient(#36393f, #464545);
     background: linear-gradient(#3e4ad3, #226136);

}

.inicioDaPagina {
    color: #292727;
    font-weight: bold;
    text-align: center;
    padding: 0.3em;
}

.informacoes {
    font-weight: bold;
    text-align: center;
    color: #292727;
    font-size: 20px;
}

.imagens {
    display: flex;
    width: 80%;
    border-radius: 3em;
}

.titulosGovernadores {
    margin-top: 5em;
    font-size: 22px;
}

.espacamento {
    margin-top: 1em;
    font-size: 22px;
}

.governadoresSP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30em;
    margin-top: 3.5em;
}

.governadoresES {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12.4em;
}

.governadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.divisaoCandidatos {
    width: 10%;
}

.govAlinhamento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    margin-left: 2.1em;
}

.imagemTamanhoErrado {
    display: flex;
    width: 180px;
    height: 252px;
    border-radius: 3em;
}

.divisaoTotal {
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;

    background-color: #FFFF;
    border-radius: 4em;
    box-shadow: 1px 1px 1px 5px #292727;
}

.backgroundGeral {
    background-color: #FFFF;
    border-radius: 3.6em;

    width: 80em;
    margin-left: auto;
    margin-right: auto;
}



@media only screen and (max-width: 600px) {

    .divisaoCandidatos {
        width: 100%;
    }

    .titulosGovernadores {
        margin-top: 1.8em;
        font-size: 24px;
    }

    .informacoes {
        font-size: 15px;
    }

    .governadoresSP {
        gap: 5em;
        margin-left: 1.3em;
        margin-top: 2em;
    }

    .imagemTamanhoErrado {
        width: 129px;
        height: 178px;
    }

    .divisaoTotal {
        max-width: 50em;
        margin-left: auto;
        margin-right: auto;
    
        background-color: #FFFF;
        border-radius: 4em;
        box-shadow: 1px 1px 1px 5px #292727;
    }
    
    .backgroundGeral {
        background-color: #FFFF;
        border-radius: 3.6em;
    
        width: 10em;
        margin-left: auto;
        margin-right: auto;
    }

}